parameters:
    paths:
        - ./src
        - ./tests/feature
    level: 6

    ignoreErrors:
        -
            messages:
                - '#unction SConcur\\Extension\\(ping|push|wait|count|cancel|stop) not found#'
                - '#generic class Fiber [\s\S]* not specify its types: TStart, TResume, TReturn, TSuspend#'
