parameters:
    paths:
        - ./src
        - ./tests/feature
    level: 6

    ignoreErrors:
        -
            messages:
                - '#unction SConcur\\Extension\\(cancelTask|count|destroy|push|stopFlow|wait|version) not found#'
                - '#generic class Fiber [\s\S]* not specify its types: TStart, TResume, TReturn, TSuspend#'
